<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApzNfccJcc6IAmkwCocuj0YenYa7Dx_Vs</string>
	<key>GCM_SENDER_ID</key>
	<string>67206042263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oradenuit.app</string>
	<key>PROJECT_ID</key>
	<string>oradenuit</string>
	<key>STORAGE_BUCKET</key>
	<string>oradenuit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67206042263:ios:acc7f5d3df2f51092c0fd2</string>
</dict>
</plist>